<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="genericpage">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="padding:1px 1px 0px 4px;">
                    <a href="@Url.Action("Index", "Home")" title="Message in a Bottle">
                        <img style="height:42px;" alt="Message in a Bottle" src="@Url.Content("~/Images/icon.png")">
                    </a>
                </div>
                <button type="button" class="navbar-toggle threedotsbtn" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="threedots"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Messages", "MyMessages", "Home")</li>
                    <li>@Html.ActionLink("My Bottles", "MyBottles", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

            <div class="mainpage">
                @RenderBody()

            </div>

        <footer class="footer">
            <center>
                <p><span class="footertextgeneric">Please share if you enjoyed!</span></p>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://messageinabottle.azurewebsites.net/" target="_blank"><i class="fa fa-facebook fbicon" style="font-size: 20px;"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://messageinabottle.azurewebsites.net/&text=" target="_blank"><i class="fa fa-twitter twittericon" style="font-size: 20px;"></i></a>
            </center>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
