<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="padding:2px 2px;">
                    <a href="@Url.Action("Index", "Home")" title="Message in a Bottle">
                        <img style="height:48px;"alt="Message in a Bottle" src="@Url.Content("~/Images/waveicon.png")">
                    </a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("My Messages", "MyMessages", "Home")</li>
                    <li>@Html.ActionLink("My Bottles", "MyBottles", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="messagesbckgrnd">
        <div class="content">

            <div class="content-inside">
                @RenderBody()

            </div>


        </div>
    </div>

        <footer class="footer">
            <center>
                <p>Share if you enjoyed:</p>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.google.com" target="_blank"><i class="fa fa-facebook"></i>       </a>
                <a href="https://twitter.com/home?status=https://www.google.com" target="_blank"><i class="fa fa-twitter"></i></a>
            </center>
        </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
